<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApplication</display-name>
  <servlet>
  	<servlet-name>Servlet</servlet-name>
  	<servlet-class>com.zensar.demo.AppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/show</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServletOne</servlet-name>
  	<servlet-class>com.zensar.demo.PrintNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletOne</servlet-name>
  	<url-pattern>/showData</url-pattern>
  </servlet-mapping>
</web-app>